.hero {
  background-image: url('/images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
