:root {
  /* fonts */
  /* --- imported in layout.tsx --- */

  /* Colors */
  --color-body-background: #11110f;
  --color-text-body: #efe6d2;
  --color-overlay-vintage: #7a4b2b80;

  --color-nav-active: #efe6d2;
  --color-nav-inactive: #d8c7a6;

  /* Generic */
  --color-black: #000000;
  /* Vintage solids (used in components) */
  --color-vintage: #7a4b2b;
  --color-vintage-hover: #9b5c33;
}
