@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #11110f;
  color: #efe6d2;
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  letter-spacing: 0.05em;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;

  background-image: url('/textures/grain-02.jpg');
  opacity: 0.08;

  pointer-events: none;
}
