@import 'tailwindcss';

:root {
  /* fonts */
  /* --- imported in layout.tsx --- */

  /* Colors */
  --color-body-background: #11110f;
  --color-text-body: #efe6d2;
  --color-overlay-vintage: #7a4b2b80;
}

body {
  background-color: var(--body-background);
  color: var(--text-body);
  font-family: var(--font-body);
}

body::before {
  content: '';
  position: fixed;
  inset: 0;

  background-image: url('/textures/grain-02.jpg');
  opacity: 0.08;

  pointer-events: none;
}

.hue-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hue-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--color-overlay-vintage);
  mix-blend-mode: hue;
  pointer-events: none;
}
