.navlink {
  position: relative;

  display: inline-block;

  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;

  color: var(--color-nav-inactive);

  width: 100px;
  transition: width 0.3s ease;
}

.navlink:hover {
  color: var(--color-nav-active);
}

.navlink:hover span {
  width: 100%;
}

.active {
  color: var(--color-nav-active);
}
